<%- include('../includes/navigation.ejs') %>
<section class="main">
  <div class="main-content tabcontent" id="patient">
    <div class="new-items ">
      <div class="new-items_conatiner">
        <h2>need bloods</h2>
        <p class="red">needs quantity</p>
        <form action="/add-neededBlood" method="POST" class="new-items_form"> 
          <label for="patientName" class="new-items_label">Patient</label>
          <input class="new-items_input" type="text" name="patientName" id="patientName" />
    
          <label for="department" class="new-items_label">Department</label>
          <input class="new-items_input" type="text" name="department" id="department" />
    
          <label for="quantity" class="new-items_label">Quantity</label>
          <input class="new-items_input" type="text" name="quantity" id="quantity" />
    
          <label for="bloodType" class="new-items_label">Blood Type</label>
          <select name="bloodType" id="bloodType" class="new-items_select type">
            <option value="a+">a+</option>
            <option value="a-">a-</option>
            <option value="o+">o+</option>
            <option value="o-">o-</option>
            <option value="b+">b+</option>
            <option value="b-">b-</option>
            <option value="ab+">ab+</option>
            <option value="ab-">ab-</option>
          </select>
        
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" /> 
          <button class="add-new add-new_float addnewrs" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('../includes/bottom.ejs') %>