<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BloodDonate</title>

    <link rel="shortcut icon" href="/images/logo_fav.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="nav-bc">
      <nav class="grid main-nav">
        <a href="/" class="logo">
          <!-- <img src="/images/logo.png" alt="logo-page" /> -->
          <img src="/images/logo-home.png" alt="logo-page" />
        </a>
        <ul class="main-nav__link">
          <li><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#blood"> bloodType</a></li>
          <li><a href="#instructions"> Instructions</a></li>
        </ul>
        <ul class="main-nav__right">
          <li class="user-btn">
            <a href="#"><i class="fas fa-user-circle fa-2x"></i></a>
          </li>
          <li><a href="/log-in" class="button"> LogIn</a></li>
        </ul>
        <!-- Nav Mobile + tablet -->
        <div class="menu-small">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </nav>
    </div>

    <!-- End nav -->
    <!-- Start header -->
    <header class="grid main-header">
      <section class="main-header__desc">
        <h2>
          Blood <span>Donate</span> <br />
          To Save a Life
        </h2>
        <p>
          Connecting volunteer blood donors with patients with minutes at
          <span>zero cost.</span>
        </p>
        <a type="button" class="button dark" href="/log-in"> Donate Now</a>
      </section>
      <section class="main-header__img">
        <div class="animations">
          <img src="/images/home.svg" alt="header animation" />
        </div>
      </section>
    </header>
    <!-- End header -->
    <!-- Start counter -->
    <section id="counter" class="counters">
      <div class="counters__container">
        <div class="counters__item">
          <img src="/images/donor.png" alt="" />
          <div>
            <div class="counter" data-target="6000">0</div>
            <h3>Donors</h3>
          </div>
        </div>
        <div class="counters__item">
          <img src="/images/hospital.png" alt="" />
          <div>
            <div class="counter" data-target="7000">0</div>
            <h3>Hospitals</h3>
          </div>
        </div>
        <div class="counters__item">
          <img src="/images/Visitors.png" alt="" />
          <div>
            <div class="counter" data-target="10000">0</div>
            <h3>Visitors</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- End counter -->

    <!-- Start Acceptable -->
    <section id="blood" class="acceptable">
      <div class="grid">
        <div class="acceptable__header">
          <h2>blood donation</h2>
          <p>
            You can usually donate blood two to three times during the year,
            every 16 weeks so that there is enough time period for your blood to
            build up its iron stock between each donation.
          </p>
          <div class="acceptable__content">
            <div class="acceptable__img">
              <img src="/images/blood.svg" alt="" />
            </div>
            <div>
              <ul class="acceptable__header--menu">
                <li class="active" data-target="#Type_1">A+</li>
                <li data-target="#Type_2 ">A-</li>
                <li data-target="#Type_3 ">AB+</li>
                <li data-target="#Type_4 ">AB-</li>
                <li data-target="#Type_5 ">O+</li>
                <li data-target="#Type_6 ">O-</li>
                <li data-target="#Type_7 ">B+</li>
                <li data-target="#Type_8 ">B-</li>
              </ul>
              <div class="acceptable__main">
                <!-- blood type A+ -->
                <div class="main-grid active" id="Type_1" data-target-content>
                  <div class="content-desc">
                    <div class="content-desc__main">
                      <p>
                        The holder of this super type is characterized by the
                        body, metabolism is a very rapid digestive sensitivity,
                        but has a very weak immune system. Some foods are
                        suitable for his body, such as seafood, vegetables, and
                        legumes, and he prefers not to eat red meat, dairy
                        products, and wheat. Other types of blood groups are
                        more likely to accumulate and accumulate in the
                        intestinal mucosa.
                      </p>
                      <ul class="main-type">
                        <li>
                          <h3>Receive</h3>
                          <ul>
                            <li>A+</li>
                            <li>A-</li>
                            <li>O+</li>
                            <li>O-</li>
                          </ul>
                        </li>
                        <li>
                          <h3>Donates</h3>
                          <ul>
                            <li>A+</li>
                            <li>AB+</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- blood type A- -->
                <div class="main-grid" id="Type_2" data-target-content>
                  <div class="content-desc">
                    <div class="content-desc__main">
                      <p>
                        The bearer of this superfamily is characterized by the
                        body the process of metabolism is very rapid sensitivity
                        of the gastrointestinal tract but has a very weak immune
                        system has the capacity to cope with environmental
                        changes and food there are some foods that fit his body
                        like seafood, vegetables, legumes and prefers not to eat
                        red meat and dairy derivatives, wheat . Blood Type A is
                        more likely to accumulate and accumulate mucosa in the
                        digestive tract than other species.
                      </p>
                      <ul class="main-type">
                        <li>
                          <h3>Receive</h3>
                          <ul>
                            <li>A-</li>
                            <li>O-</li>
                          </ul>
                        </li>
                        <li>
                          <h3>Donates</h3>
                          <ul>
                            <li>A+</li>
                            <li>A-</li>
                            <li>AB+</li>
                            <li>AB-</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- blood type Ab+ -->
                <div class="main-grid" id="Type_3" data-target-content>
                  <div class="content-desc">
                    <div class="content-desc__main">
                      <p>
                        It's called the stingy species because it doesn't accept
                        blood from any other species, but it only gives blood to
                        its species. The bearer of this superfamily is
                        characterized by device regions of weak and foods that
                        fit the nature of his body is a combination of special
                        food with A blood type B in addition to that, his body
                        more susceptible to certain diseases such as diabetes,
                        anemia, and cancer .
                      </p>
                      <ul class="main-type">
                        <li>
                          <h3>Receive</h3>
                          <ul>
                            <li>Every One</li>
                          </ul>
                        </li>
                        <li>
                          <h3>Donates</h3>
                          <ul>
                            <li>AB+</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- blood type Ab- -->
                <div class="main-grid" id="Type_4" data-target-content>
                  <div class="content-desc">
                    <div class="content-desc__main">
                      <p>
                        It's called the stingy species because it doesn't accept
                        blood from any other species, but it only gives blood to
                        its species. The bearer of this superfamily is
                        characterized by device regions of weak and foods that
                        fit the nature of his body is a combination of special
                        food with A blood type B in addition to that, his body
                        more susceptible to certain diseases such as diabetes,
                        anemia, and cancer
                      </p>
                      <ul class="main-type">
                        <li>
                          <h3>Receive</h3>
                          <ul>
                            <li>AB-</li>
                            <li>A-</li>
                            <li>B-</li>
                            <li>O-</li>
                          </ul>
                        </li>
                        <li>
                          <h3>Donates</h3>
                          <ul>
                            <li>AB+</li>
                            <li>AB-</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- blood type o+ -->
                <div class="main-grid" id="Type_5" data-target-content>
                  <div class="content-desc">
                    <div class="content-desc__main">
                      <p>
                        Allow a platoon of blood-precious because it does not
                        contain antibodies to the head of this platoon does not
                        take blood only from the species itself, but it gives
                        the blood of the factions other, heat blood type O is
                        characterized by the fact that her digestive system
                        strong and suitable for an active also there is a range
                        of foods to fit his body too such as vegetables, fruits,
                        red meat, legumes, and wheat . These persons are exposed
                        to coagulopathy, clots, arthritis, allergies and ulcers.
                      </p>
                      <ul class="main-type">
                        <li>
                          <h3>Receive</h3>
                          <ul>
                            <li>O+</li>
                            <li>O-</li>
                          </ul>
                        </li>
                        <li>
                          <h3>Donates</h3>
                          <ul>
                            <li>AB+</li>
                            <li>O+</li>
                            <li>B+</li>
                            <li>A+</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- blood type o- -->
                <div class="main-grid" id="Type_6" data-target-content>
                  <div class="content-desc">
                    <div class="content-desc__main">
                      <p>
                        Allow a platoon of blood-precious because it does not
                        contain antibodies to the head of this platoon does not
                        take blood only from the species itself, but it gives
                        the blood of the factions other, heat blood type O is
                        characterized by the fact that her digestive system
                        strong and suitable for an active also there is a range
                        of foods to fit his body too such as vegetables, fruits,
                        red meat, legumes, and wheat . These persons are exposed
                        to coagulopathy, clots, arthritis, allergies and ulcers.
                      </p>
                      <ul class="main-type">
                        <li>
                          <h3>Receive</h3>
                          <ul>
                            <li>O-</li>
                          </ul>
                        </li>
                        <li>
                          <h3>Donates</h3>
                          <ul>
                            <li>Every One</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- blood type B+ -->
                <div class="main-grid" id="Type_7" data-target-content>
                  <div class="content-desc">
                    <div class="content-desc__main">
                      <p>
                        The bearer of this superfamily is characterized by the
                        ability to cope with changes in food and Environmental
                        has a strong immune system and a nervous system balanced
                        .There are a range of foods suitable to the nature of
                        his body but would prefer not to excessive in some foods
                        such as legumes, vegetables, milk and dairy products and
                        fruits . The risks of this species are their
                        vulnerability to diseases such as osteoporosis, diabetes
                        and chronic fatigue.
                      </p>
                      <ul class="main-type">
                        <li>
                          <h3>Receive</h3>
                          <ul>
                            <li>B+</li>
                            <li>B-</li>
                            <li>O+</li>
                            <li>O-</li>
                          </ul>
                        </li>
                        <li>
                          <h3>Donates</h3>
                          <ul>
                            <li>AB+</li>
                            <li>B+</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- blood type B- -->
                <div class="main-grid" id="Type_8" data-target-content>
                  <div class="content-desc">
                    <div class="content-desc__main">
                      <p>
                        The bearer of this superfamily is characterized by the
                        ability to cope with changes in food and Environmental
                        has a strong immune system and a nervous system balanced
                        .There are a range of foods suitable to the nature of
                        his body but would prefer not to excessive in some foods
                        such as legumes, vegetables, milk and dairy products and
                        fruits . The risks of this species are their
                        vulnerability to diseases such as osteoporosis, diabetes
                        and chronic fatigue.
                      </p>
                      <ul class="main-type">
                        <li>
                          <h3>Receive</h3>
                          <ul>
                            <li>B-</li>
                            <li>O-</li>
                          </ul>
                        </li>
                        <li>
                          <h3>Donates</h3>
                          <ul>
                            <li>B+</li>
                            <li>B-</li>
                            <li>AB+</li>
                            <li>AB-</li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Acceptable -->
    <!-- Start Search -->
    <section class="grid search">
      <div>
        <h3>BloodDonate Connect</h3>
        <p>
          We offer instant access to blood donors across Egypt, 24 hours a day,
          7 days a week.
        </p>
        <a type="button" class="button dark" href="/log-in"> Find Blood Now</a>
      </div>
      <img src="/images/search.svg" alt="section search" />
    </section>
    <!-- end Search -->
    <!-- start instructions -->
    <div class="grid instructions">
      <img src="/images/PreInstructions.svg" alt="section search" />
      <div>
        <h3>Pre donation instructions</h3>
        <div class="instructions__items">
          <div class="instructions__item">
            <img src="/images/instructionsSleep.png" alt="" />
            <p>Get enough sleep on the night of the donation.</p>
          </div>
          <div class="instructions__item">
            <img src="/images/instructionsEating.png" alt="" />
            <p>Eat a balanced meal two hours before donating.</p>
          </div>
          <div class="instructions__item">
            <img src="/images/instructionsCafee.png" alt="" />
            <p>Get enough sleep on the night of the donation.</p>
          </div>
          <div class="instructions__item">
            <img src="/images/instructionsDrink.png" alt="" />
            <p>Get enough sleep on the night of the donation.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid instructions">
      <div>
        <h3>Post donation instructions</h3>
        <div class="instructions__items">
          <div class="instructions__item">
            <img src="/images/instructionsSleep.png" alt="" />
            <p>After donating, take a break and snack.</p>
          </div>
          <div class="instructions__item">
            <img src="/images/instructionsGym.png" alt="" />
            <p>Avoid heavy physical activity for 5 hours.</p>
          </div>
          <div class="instructions__item">
            <img src="/images/instructionsCar.png" alt="" />
            <p>After 10-15 minutes you can leave the place.</p>
          </div>
          <div class="instructions__item">
            <img src="/images/instructionsDrink.png" alt="" />
            <p>You should drink more fluids than usual.</p>
          </div>
        </div>
      </div>
      <img src="/images/postInstructions.svg" alt="section search" />
    </div>
    <!-- end instructions -->
    <!-- Start footer -->
    <footer class="footer" id="footer">
      <div class="footer__quotes">
        <p class="quotes">Every Blood Donor Is A Life Saver</p>
        <p class="copyright">
          &copy; 2020 create by townmonkeys all rights reserved
        </p>
      </div>
    </footer>
    <!-- End footer -->
    <!-- loading page -->
    <!-- <div class="loader-page">
      <div class="loader">
        <svg width="16px" height="12px">
          <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
          <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
        </svg>
      </div>
    </div> -->
    <!-- loading page -->

    <script src="/js/index.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script>
      gsap.from(".main-header__img", { opacity: 0, duration: 2, x: 200 });
      gsap.from(".main-header__desc", { opacity: 0, duration: 1, y: -100 });
    </script>
  </body>
</html>
