@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
:root {
  --backgroundColor: #f2f5fa;
  --main-color: #4b48b1;
  --second-color: #0f1048;
  --text-color: #7375a8;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--a-color);
}

ul {
  list-style: none;
}

.nav {
  height: 9vh;
  margin: 0;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0;
  border-bottom: 1px solid #d7dcdf;
}

.nav__link li {
  padding: 1em 0.6em;
  border-right: 1px solid #d7dcdf;
  font-size: 1.1em;
}

.nav__link li.active {
  font-weight: bold;
}

.nav__link li.active a {
  color: var(--second-color);
}

.nav__link li a {
  padding-bottom: 0.4em;
  color: var(--main-color);
}

.nav__link li a:hover {
  color: var(--second-color);
}

/* .log__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
} */
.nav__link .log__form span {
  color: var(--main-color);
  background-color: var(--backgroundColor);
  font-size: 19px;
  border: 0;
  padding-left: 1em;
  cursor: pointer;
}
.nav__link .log__form span:hover {
  color: red;
}

main {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 0 auto;
  /* -ms-grid-columns: 30% 70%; */
  grid-template-columns: 25% 75%;
  gap: 2em;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

main .main__nav {
  background-color: #eaeff7;
  height: 85vh;
}

main .main__nav--header {
  text-align: center;
}

main .main__nav--header h3 {
  color: var(--main-color);
}

main .main__nav--header img {
  max-width: 30%;
  margin: auto;
}

main .main__nav--desc {
  width: 90%;
  padding-top: 0.5em;
  margin: auto;
  color: var(--main-color);
}

main .main__nav--desc h4 {
  margin-bottom: 0.4em;
}

main .main__nav--desc p {
  color: var(--text-color);
  text-align: left;
}

main .main__nav--desc a {
  display: block;
  margin-bottom: 0.3em;
}

main .main__info {
  width: 90%;
  margin: 0.3em auto;
}
main .main__info .header {
  color: var(--main-color);
}

main .main__info p {
  line-height: 1.9;
  color: var(--text-color);
}

main .main__info p:first-of-type {
  line-height: 1.6;
}

main .main__info .form-user {
  width: 80%;
  margin: 1.2em auto;
  text-align: center;
  padding: 1em;
  border: 1px solid var(--text-color);
}

main .main__info .form-user label {
  margin-right: 3em;
  font-weight: bold;
  color: var(--main-color);
  font-size: 1.2em;
}

main .main__info .form-user input {
  margin-bottom: 1.4em;
  text-align: end;
}

main .main__info .form-user input[type="text"],
main .main__info .form-user input[type="date"] {
  padding: 0.5em;
  color: black;
  background: #fefefe;
  width: 11vw;
  height: 5vh;
  font-size: 1.1em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

main .main__info .form-user input[type="radio"] {
  cursor: pointer;
}
main .main__info .form-user .form-group {
  display: flex;
  margin-bottom: 1em;
}
main .main__info .form-user .form-group label {
  padding: 6px;
  color: var(--second-color);
}
main .main__info .form-user .form-group label.value {
  font-weight: normal;
  color: var(--main-color);
}
main .main__info .form-user .form-group input[type="checkbox"] {
  position: relative;
  width: 43px;
  height: 23px;
  cursor: pointer;
  -webkit-appearance: none;
  background: red;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
main .main__info .form-user .form-group input[type="checkbox"]:before {
  content: " ";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
main .main__info .form-user .form-group input:checked[type="checkbox"] {
  background-color: green;
}
main .main__info .form-user .form-group input:checked[type="checkbox"]:before {
  left: 23px;
}
main .main__info .form-user select {
  color: black;
  margin-bottom: 1.2em;
  background: #fefefe;
  width: 9vw;
  height: 5vh;
  font-size: 1.1em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

main .main__info .form-user select option {
  color: black;
  font-size: 1.1em;
}

main .main__info .form-user input[type="range"] {
  -webkit-appearance: none;
  width: calc(60% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

main .main__info .form-user input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--text-color);
  cursor: pointer;
}

main .main__info .form-user input[type="range"]::-webkit-slider-thumb:hover {
  background-color: var(--main-color);
}

main .main__info .form-user button {
  display: inline-block;
  width: 20%;
  margin: 2em auto 0;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  white-space: nowrap;
  cursor: pointer;
  background: var(--main-color);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
}
main .main__info .form-user a.btn-back {
  background: black;
  color: white;
  padding: 10px 28px;
}

main .main__info .form-user a:active {
  position: relative;
  top: 1px;
}

main .main__info--links {
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin-top: 2em;
  -ms-grid-columns: (minmax(200px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5em;
}

main .main__info--links div {
  border: 2px solid black;
  padding: 1.5em 1em;
}

main .main__info--links div i {
  color: var(--main-color);
}

main .main__info--links div h3 {
  color: black;
}
.btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  font-size: 16px;
}

.main__content {
  width: 80%;
  height: 100%;
  border: solid 1px #e1e1e8;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
  margin-left: 10px;
}
.main__content-info {
  width: 44%;
  height: 120px;
}
.main__a {
  color: #00a8c4;
  text-decoration: underline;
}
iframe {
  display: block; /* frames are inline by default */
  background: #000;
  border: none; /* Reset default border */ /* Viewport-relative units */
  width: 80%;
}

input[type="password"] {
  padding: 0.5em;
  color: black;
  background: #fefefe;
  width: 12vw;
  height: 5vh;
  font-size: 1.1em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

div .info {
  box-sizing: border-box;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 50px;
  height: auto;
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  background: #d9edf7;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
.info {
  background-color: white;
}

div.row {
  color: #242424;
  font: 14px Roboto, sans-serif;
  margin: 0px - 15px;
}
div p {
  margin: 0px 0px 10px;
}

.sub_area {
  border: solid 1px #e1e1e8;
  background-color: #f7f7f9;
  padding: 10px;
  border-radius: 4px 4px 4px 4px;
}

h5.underline {
  color: #242424;
  font: 16px Robot, sans-serif;
  margin: 10px 0px;
}
/* form Search */
.form-search {
  /* border: 1px solid var(--text-color); */
  padding: 10px;
  width: 80%;
  margin: 10px auto;
}
.form-search h4 {
  color: var(--main-color);
  text-align: center;
  margin: 0.3em auto 0.5em;
}
.form-search .result {
  border: 1px solid var(--text-color);
  margin-top: 10px;
  padding: 0.6em;
}
.form-search .result {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  /* justify-content: space-around; */
}
.form-search .result .btn {
  background-color: var(--main-color);
}
.form-search .result .btn:active {
  position: relative;
  top: 2px;
}
.form-search .result .grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
}
.form-search .result .grid img {
  max-width: 110%;
  margin-bottom: 0.3em;
}
.form-search .result .grid .result__desc {
  color: var(--second-color);
  font-size: 1.1em;
  margin-left: 0.7em;
}
.form-search .result .grid .result__desc div:last-of-type {
  color: red;
  text-transform: uppercase;
  margin-top: 5px;
}
.disabled {
  display: none;
}
.user-search {
  width: 80%;
  margin: 1.2em auto 0;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
}
.user-search input {
  padding: 0.5em;
  color: black;
  width: 14vw;
  height: 5vh;
  font-size: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  margin-bottom: 1em;
}

.user-search button {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 3px;
  margin-left: 1em;
}
.user-search button:active {
  position: relative;
  top: 2px;
}

/* End form Search */
/* Donation Information */
.donation {
  background-color:#eaeff7b0;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  border-radius: 10px;
  margin:  5em auto;
}
.donation .donation__img {
  width: 25%;
  position: relative;
  top: -4em;
  margin-bottom: .5em;
  border-radius: 50%;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}
.donation .donation__information {
  position: relative;
  top: -5em;
}
.donation .donation__information h3 {
  color: var(--main-color);
  margin: 0.7em;
  text-transform: capitalize;
}
.donation .donation__information > p {
  color: var(--text-color);
  margin: auto;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid var(--text-color);
  width: 70%;
}
.donation .donation__information p span {
  padding-left: 6em;
  text-transform: capitalize;
  /* font-weight: bold; */
}
.donation .donation__information p span > i {
  color: red;
  transform: rotate(0.5turn);
}
.donation__information h4{
  color: var(--text-color);
  margin: .5em;
}
.donation__information h4 >i{
  padding-right: .5em;
}
.donation__information--date > p{
  font-weight: bold;
}
.donation__information--date .past{
  color: red;
}
.donation__information--date .future{
  color: green;
}

/*End  Donation Information */
