<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/bloodNeeds.css">
</head>

<body>
  <%- include('../includes/navigation.ejs')%>

  <!--  start Table -->
  <table>
    <caption>Blood Needs</caption>
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Blood Type</th>
        <th scope="col">Department</th>
        <th scope="col">Patient</th>
        <th scope="col">Quantity</th>
        <th scope="col">Data</th>
        <th scope="col">Done</th>
        <th scope="col">Accepts</th>



      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Account">16</td>
        <td data-label="Due Date">B+</td>
        <td data-label="Amount">Internal Diseases</td>
        <td data-label="Period">Someone</td>
        <td data-label="Quantity">50</td>
        <td data-label="Date">18/2/2020</td>
        <td data-label="Done"></td>
        <td data-label="Accepts">A+,O-,B+</td>

      </tr>
      <tr>
        <td scope="row" data-label="Account">14</td>
        <td data-label="Due Date">B-</td>
        <td data-label="Amount">Dentistry</td>
        <td data-label="Period">Someone</td>
        <td data-label="Quantity">5</td>
        <td data-label="Date">18/10/2019</td>
        <td data-label="Done"></td>
        <td data-label="Accepts">A+,O-,AB+,AB-</td>

      </tr>
      <tr>
        <td scope="row" data-label="Account">2</td>
        <td data-label="Due Date">O+</td>
        <td data-label="Amount">Burn center </td>
        <td data-label="Period">MD SH</td>
        <td data-label="Quantity">0</td>
        <td data-label="Date">18/12/2020</td>
        <td data-label="Done"></td>
        <td data-label="Accepts">B+,O-,A-</td>

      </tr>
      <tr>
        <td scope="row" data-label="Acount">5</td>
        <td data-label="Due Date">AB+</td>
        <td data-label="Amount">Internal Diseases</td>
        <td data-label="Period">Ahmed</td>
        <td data-label="Quantity">10</td>
        <td data-label="Date">1/11/2019</td>
        <td data-label="Done"></td>
        <td data-label="Accepts">O-,O+</td>

      </tr>
      <tr>
        <td scope="row" data-label="Acount">8</td>
        <td data-label="Due Date">O-</td>
        <td data-label="Amount">Burn center</td>
        <td data-label="Period">Someone</td>
        <td data-label="Quantity">15</td>
        <td data-label="Date">18/1/2020</td>
        <td data-label="Done"></td>
        <td data-label="Accepts">AB-</td>

      </tr>
      <tr>
        <td scope="row" data-label="Acount">7</td>
        <td data-label="Due Date">A-</td>
        <td data-label="Amount">Dentistry</td>
        <td data-label="Period">Someone</td>
        <td data-label="Quantity">25</td>
        <td data-label="Date">15/11/2019</td>
        <td data-label="Done"></td>
        <td data-label="Accepts">A+,O-,AB+</td>

      </tr>
      <tr>
        <td scope="row" data-label="Acount">4</td>
        <td data-label="Due Date">AB-</td>
        <td data-label="Amount">Burn center</td>
        <td data-label="Period">Someone</td>
        <td data-label="Quantity">20</td>
        <td data-label="Date">18/12/2019</td>
        <td data-label="Done"></td>
        <td data-label="Accepts">A+,O-</td>


      </tr>

    </tbody>
  </table>

  <%- include('../includes/footer.ejs')%>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

  <%- include('../includes/end.ejs')%>