<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <!-- Slider main container -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-slide__container">
          <h3 class="swiper__h3">Donate blood, save life !</h3>
          <h1 class="swiper__h1">your blood<br>can bring smile<br>in other person face.</h1>
        </div>
        <div class="swiper-slide__container">
          <a href="#" class="btn_place btn_theme">Donate Now</a>
          <a href="#" class="btn_place btn_theme btn_theme_color">call: 411-504-872-421</a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper-slide__container">

          <h3 class="swiper__h3">Donate blood, save life !</h3>
          <h1 class="swiper__h1">donate blood<br>and inspires others.</h1>
        </div>
        <div class="swiper-slide__container">
          <a href="#" class="btn_place btn_theme">Donate Now</a>
        </div>
      </div>


    </div>
    <!-- If we need navigation buttons -->

    <div class="swiper__slide swiper-button-prev"></div>
    <div class="swiper__slide swiper-button-next"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <!-- end slide -->
  <!--  start about us -->
  <section class="about-us">
    <div class="about-us__info">
      <h2 class="lead__h2">Who We Are?</h2>
      <p class="about-us__p lead__p">Blood Buddies is for public donation center with blood donation members in the
        changing health care system.</p>
      <ul class="about-us__ul">
        <li class="about-us__li">Specialist blood donors and clinical supervision.</li>
        <li class="about-us__li">Specialist blood donors and clinical supervision.</li>
        <li class="about-us__li">Specialist blood donors and clinical supervision.</li>
        <li class="about-us__li">Specialist blood donors and clinical supervision.</li>
        <li class="about-us__li">Specialist blood donors and clinical supervision.</li>
      </ul>
    </div>
    <div class="about-us__img-container">
      <img src="/images/about_feat_bg.jpg" class="about-us__img">
    </div>
  </section>
  <!-- start CAMPAIGNS -->
  <section class="campaigns">
    <div class="container campaigns__container_theme_grid">
      <div class="campaigns__info">
        <h2 class="lead__h2">OUR CAMPAIGNS</h2>
        <p class="campaign_p lead__p">All over the world we have arranged total sixty thousands donation campaign and
          visit thousands of other venues on various occasions.</p>
        <a href="#" class="btn_place btn_theme">Load All Campaigns</a>
      </div>
      <!--  start slider -->
      <div class="swipper-campaign">
        <div class="swiper-container2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="campaign__slide">
                <div class="campaign__conatiner-img">
                  <img src="/images/event_3.jpg" class="campaign__img">
                </div>
                <div class="campaign__events">
                  <a class="event-date" href="#"><i class="far fa-calendar-alt"></i> 11 March, 2018</a>
                  <h4 class="campaign__h4">
                    <a href="#" class="campaign__h4-a">Free Group Checking</a>
                  </h4>
                  <p class="event-info">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign
                    pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</p>
                  <div class="event-time">
                    <a href="#"><i class="far fa-clock"></i> 10.00 - 3.00</a>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> California, USA</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="campaign__slide">
                <div class="campaign__conatiner-img">
                  <img src="/images/event_2.jpg" class="campaign__img">
                </div>
                <div class="campaign__events">
                  <a class="event-date" href="#"><i class="far fa-calendar-alt"></i> 11 March, 2018</a>
                  <h4 class="campaign__h4">
                    <a href="#" class="campaign__h4-a">Free Group Checking</a>
                  </h4>
                  <p class="event-info">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign
                    pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</p>
                  <div class="event-time">
                    <a href="#"><i class="far fa-clock"></i> 10.00 - 3.00</a>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> California, USA</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="campaign__slide">
                <div class="campaign__conatiner-img">
                  <img src="/images/event_1.jpg" class="campaign__img">
                </div>
                <div class="campaign__events">
                  <a class="event-date" href="#"><i class="far fa-calendar-alt"></i> 11 March, 2018</a>
                  <h4 class="campaign__h4">
                    <a href="#" class="campaign__h4-a">Free Group Checking</a>
                  </h4>
                  <p class="event-info">Lorem ipsum dolor sit amet turadipi scing elit lobort issim consecte lodign
                    pharetra. Lobort qssim tronsecte diagnosis sharetrx mauris gone do.</p>
                  <div class="event-time">
                    <a href="#"><i class="far fa-clock"></i> 10.00 - 3.00</a>
                    <a href="#"> <i class="fas fa-map-marker-alt"></i> California, USA</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination"></div>

        </div>
      </div>
      <!-- end slider -->
    </div>
  </section>
  <!-- end CAMPAIGNS -->
  <!--  start statistics -->
  <section class="statistics">
    <div class="container statistics__container" id="counter">
      <div class="statistics__icon">
        <div class="icon_container">
          <i class="fas fa-heartbeat"></i>
        </div>
        <div class="counter">
          <p data-count="2578" class="counter-value">2000</p>
        </div>
        <div class="label">
          <h3>Success Smile</h3>
        </div>
      </div>
      <div class="statistics__icon">
        <div class="icon_container">
          <i class="fas fa-stethoscope"></i>
        </div>
        <div class="counter">
          <p data-count="3100" class="counter-value">2700</p>
        </div>
        <div class="label">
          <h3>Happy Donors</h3>
        </div>
      </div>
      <div class="statistics__icon">
        <div class="icon_container">
          <i class="fas fa-users"></i>
        </div>
        <div class="counter">
          <p data-count="1470" class="counter-value">1000</p>

        </div>
        <div class="label">
          <h3>Happy Recipient</h3>
        </div>
      </div>
      <div class="statistics__icon">
        <div class="icon_container">
          <i class="far fa-building"></i>
        </div>
        <div class="counter">
          <p data-count="2154" class="counter-value">1900</p>
        </div>
        <div class="label">
          <h3>Total Awards</h3>
        </div>
      </div>
    </div>
  </section>
  <!--  end statistics -->
  <!-- start service -->
  <section class="service">
    <div class="service__label">
      <h2 class="service__h2">Services</h2>
    </div>
    <div class="container container__service">
      <div class="service__items">
        <div class="service__icons">
          <i class="fas fa-credit-card"></i>
        </div>
        <div class="service__items-info">
          <h4 class="service__h4">Laboratory Tests</h4>
          <p class="service__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor</p>
          <a class="service__a" href="#">Read More</a>
        </div>
      </div>
      <div class="service__items">
        <div class="service__icons">
          <i class="fas fa-sms"></i>
        </div>
        <div class="service__items-info">
          <h4 class="service__h4">Donate Emergency</h4>
          <p class="service__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor</p>
          <a class="service__a" href="#">Read More</a>
        </div>
      </div>
      <div class="service__items">
        <div class="service__icons">
          <i class="fas fa-bullhorn"></i>
        </div>
        <div class="service__items-info">
          <h4 class="service__h4">Blood Doanr Basic</h4>
          <p class="service__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor</p>
          <a class="service__a" href="#">Read More</a>
        </div>
      </div>
      <div class="service__items">
        <div class="service__icons">
          <i class="fas fa-bus-alt"></i>
        </div>
        <div class="service__items-info">
          <h4 class="service__h4">How Can I Donate</h4>
          <p class="service__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor</p>
          <a class="service__a" href="#">Read More</a>
        </div>
      </div>
      <div class="service__items">
        <div class="service__icons">
          <i class="fas fa-bookmark"></i>
        </div>
        <div class="service__items-info">
          <h4 class="service__h4">Donor Health Benefitis</h4>
          <p class="service__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor</p>
          <a class="service__a" href="#">Read More</a>
        </div>
      </div>
      <div class="service__items">
        <div class="service__icons">
          <i class="fas fa-photo-video"></i>
        </div>
        <div class="service__items-info">
          <h4 class="service__h4">Video Gallary</h4>
          <p class="service__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor</p>
          <a class="service__a" href="#">Read More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- end service -->
  <!-- start bus -->
  <section class="bus">
    <div class="container bus__container_theme_grid">
      <div class="bus__info">
        <h2 class="lead__h2">Where CAN I DONATE ?</h2>
        <p class="bus_p lead__p">The Blood You Donate Gives Someone Another Chance At Life. One Day That Someone May Be
          A Close Relative, A Friend, A Loved One—Or Even You, Mother’s tears cannot save her child’s life but your
          blood can.</p>
        <a href="#" class="btn_place btn_theme">Find Location <i class="fas fa-map-marker-alt"></i></a>
      </div>
      <div class="bus__conatiner-img">
        <img src="/images/bus.jpg" class="campaign__img">
      </div>
    </div>
  </section>
  <%- include('../includes/footer.ejs') %>
  <script type="text/javascript">
    var a = 0;
    $(window).scroll(function () {

      var oTop = $('#counter').offset().top - window.innerHeight;
      if (a == 0 && $(window).scrollTop() > oTop) {
        $('.counter-value').each(function () {
          var $this = $(this),
            countTo = $this.attr('data-count');
          $({
            countNum: $this.text()
          }).animate({
            countNum: countTo
          },

            {

              duration: 2000,
              easing: 'swing',
              step: function () {
                $this.text(Math.floor(this.countNum));
              },
              complete: function () {
                $this.text(this.countNum);
                //alert('finished');
              }

            });
        });
        a = 1;
      }

    });
  </script>


  <script src="https://unpkg.com/swiper/js/swiper.js"></script>
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: {
        el: '.swiper-pagination',

      },

      centeredSlides: true,

      speed: 800,
      cssMode: "zoom",
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
  <script>
    var swiper = new Swiper('.swiper-container2', {
      pagination: {
        el: '.pagination',
      },
      speed: 800,
    });
  </script>

  <%- include('../includes/end.ejs')%>