
<%- include('../includes/navigation.ejs') %>
<section class="main">
<div class="main-content tabcontent">
  <form action="/add-charity" method="POST">
       
    <div class="new-items">
      <div class="new-items_conatiner">
        <h2>new charity</h2>
        <p class="red">charity info</p>
      <form class="new-items_form">	 
         <label class="new-items_label" for="charity">charity Name</label>
         <input class="new-items_input" type="text" name="charity">   		 
             <label class="new-items_label" for="phone">Phone Number</label>
         <input class="new-items_input" type="number" name="phone">
             <label class="new-items_label" for="address">Address</label>
         <input class="new-items_input" type="text" name="address">
             <label class="new-items_label" for="description">Description</label>
         <textarea class="new-items_input" name="description"></textarea>
         <input type="hidden" name="_csrf" value="<%= csrfToken %>" /> 
         <button  class="add-new add-new_float addnew" type="submit">Submit</button>
      </form>	 
      
      </div>
    </div>      

    
      
    </div>
    


</section>

<%- include('../includes/bottom.ejs') %>







  <%- include('../includes/bottom.ejs') %>