<%-include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <nav>
        <ul>
            <li class="main-header__item">
                <form action="/logout" method="post">
                     <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                     <button type="submit">Logout</button>
                </form>
           </li>
        </ul>
        
    </nav>
    <div class="header">
        <div class="logo">
            <i class="fa fa-tachometer"></i>
            <span>BloodBank</span>
        </div>

        <a href="#" class="nav-trigger"><span></span></a>
    </div>
    <div class="side-nav">
        <div class="logo">
            <i class="fa fa-tachometer"></i>
            <span>BloodBank</span>
        </div>
        <nav>
            <ul>
                <li class="active">
                    <a href="#">
                        <span><i class="fas fa-chart-pie"></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">

                        <span><i class="far fa-bookmark"></i></span>
                        <span>Availabel Blood</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-ambulance"></i></span>
                        <span>Need Blood</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-plus-circle"></i></span>
                        <span>Add Blood Bags</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-user-plus"></i></span>
                        <span>Donars</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-user-injured"></i></span>
                        <span>Patient</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span><i class="fas fa-handshake"></i></span>
                        <span>Charity</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <div class="title">
            Analytics
        </div>

        <div class="main">
            <div class="widget">
                <div class="title">Number of views</div>
                <div class="chart"></div>
            </div>
            <div class="widget">
                <div class="title">Number of likes</div>
                <div class="chart"></div>
            </div>
            <div class="widget">
                <div class="title">Number of comments</div>
                <div class="chart"></div>
            </div>
        </div>
    </div>
</body>

</html>