<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BloodDonate</title>

    <link rel="shortcut icon" href="/images/logo_fav.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <link
    href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/signup.css">
  </head>
  <body>
    <div class="nav-bc">
      <nav class="grid main-nav">
        <a href="/" class="logo">
          
          <img src="/images/logo-home.png" alt="logo-page" />
        </a>
        <ul class="main-nav__link">
          <li><a href="/">Home</a></li>
          <li><a href="/#counter">About</a></li>
          <li><a href="/#blood"> bloodType</a></li>
          <li><a href="/#instructions"> Instructions</a></li>
        </ul>
        <ul class="main-nav__right">
          <li class="user-btn">
            <a href="#"><i class="fas fa-user-circle fa-2x"></i></a>
          </li>
          <li><a href="/log-in" class="button"> LogIn</a></li>
        </ul>
        <!-- Nav Mobile + tablet -->
        <div class="menu-small">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </nav>
    </div>

    <!-- End nav -->
