<div class="myNav">
    
    <div>
        <% if (isAuthenticated) { %>
        <a href="/index">Home</a>
        <a href="/add-donor">Add A Donor</a>
        <a href="/add-patient">Add A Patient</a>
        <a href="/add-charity">Add A Charity</a>
        <a href="/add-neededBlood">Need Blood</a>
        <a href="/add-blood">Add BLood</a>
        <a href="/add-bag">Add Blood Bags</a>
        <a href="/user">Account</a>
        <% } %>
        <a href="/display-donors">Display Donors</a>
        <a href="/display-patients">Display Patient</a>
        <a href="/display-charities">Display Charities</a>
        <a href="/display-neededBlood">Display Need Blood</a>
        <a href="/display-bloods">Display bloods</a>
        <a href="/display-bags">Display bags</a>
    </div>
    <div>
        <% if (!isAuthenticated) { %>
        <a href="/log-in">Log In</a>
        <a href="/sign-up">Sign Up</a>
        <% } else {%>
        <form action="/log-out" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />            
            <button class="myButtonThatLooksLikeLink" type="submit">Log Out</button>
        </form>
        <% } %>
    </div>
</div>