<nav class="nav">
  <ul class="nav__link">
    <% if (!isAuthenticated) { %>
      <li class="main-header__item">
          <a class="<%= path === '/login' ? 'active' : '' %>" href="/log-in">Login</a>
      </li>
      <li class="main-header__item">
          <a class="<%= path === '/signup' ? 'active' : '' %>" href="/sign-up">Signup</a>
      </li>
  <% } else { %>
    <li><a href="/donor/home/index">HOME</a></li>
    <li><a href="/donor/schedules/city">DONATE NOW</a></li>
    <!-- <li><a href="/donor/appointment/list"> MY APPOINTMENTS</a></li> -->
    <li><a href="/donor/history"> MY DONATIONS</a></li>
    <li><a href="/donor/account/view"> MY ACCOUNT</a></li>
    <form class="log__form" action="/logout" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="" type="submit">
        <span>LOG OUT</span>
      </button>
    </form>
    <% } %>
  </ul>
</nav>
