<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/howToDonate.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <!--  start content -->
    <section class="content">
        <div class="content__label">
            <div class="label">
                <h2 class="label__h2">Can I Donate?</h2>
            </div>
        </div>
        <div class="container">
            <!--  start about us -->
            <div class="about-us">
                <div class="about-us__info">
                    <h2 class="lead__h2">Donation Methods</h2>
                    <p class="about-us__p lead__p">There are eight different blood types and each one holds a unique
                        power to save lives. OneBlood’s exclusive Target Your <a
                            href="https://www.oneblood.org/about-donating/target-your-type/" class="blood">Type ®
                            program</a> shows donors how to give the most needed components of their blood by targeting
                        how they donate.</p>
                    <ul class="about-us__ul">
                        <li class="about-us__li">WHOLE BLOOD DONATION.</li>
                        <li class="about-us__li">Double Red Cell Donation.</li>
                        <li class="about-us__li">Simplify, Simplify, Simplify.</li>
                        <li class="about-us__li">Platelet Donation.</li>
                        <li class="about-us__li">Plasma Donation.</li>
                    </ul>
                </div>
                <div class="about-us__img-container">
                    <img src="/images/can-donate.jpg" class="about-us__img">
                </div>
            </div>
            <div class="content__blood">
                <div class="sidebar">
                    <ul class="content__ul">
                        <li class="content__li"><a class="content__a" href="#">Can I Donate</a></li>
                        <li class="content__li"><a class="content__a" href="#">FAQ</a></li>
                        <li class="content__li"><a class="content__a" href="#">Health Benefits</a></li>
                        <li class="content__li"><a class="content__a" href="#">Low Iron</a></li>
                    </ul>
                </div>
                <div class="blood__info">
                    <p class="blood__p">
                        Many potential blood donors believe that they can’t donate blood due to medical or other
                        reasons. But whether you’ve heard or read information about donation restrictions or been turned
                        down in the past, please do not self defer. You may be able to say “Yes I can!” and share your
                        power through blood donation. If you have questions about any of the subjects below, please
                        contact us for more information.
                    </p>
                    <div class="blood__label">
                        <h2 class="blood__h2">Medication</h2>
                        <p class="blood__p">
                            Anemia is a condition that, if caused by low iron body reserves, can be corrected with a
                            change in diet. Eating many types of red meat, fortified cereal and leafy green vegetables
                            may help.
                        </p>
                    </div>
                    <div class="blood__label">
                        <h2 class="blood__h2">High Blood Pressure</h2>
                        <p class="blood__p">
                            If your blood pressure is under control, you may still be able to donate blood while taking
                            most medications for high blood pressure.
                        </p>
                    </div>
                    <div class="blood__label">
                        <h2 class="blood__h2">Diabetes</h2>
                        <p class="blood__p">
                            If your diabetes is being treated and is under control, you are most likely able to donate
                            blood. You should let your doctor know that you plan to donate.
                        </p>
                    </div>
                    <div class="blood__label">
                        <h2 class="blood__h2">Tattoos and Body Piercing</h2>
                        <p class="blood__p">
                            People who received a tattoo at a state-licensed and regulated facility are now eligible to
                            donate once the area has healed. People who received a tattoo at a non-regulated facility
                            must wait 12-months before they can donate.
                        </p>
                        <p class="blood__p">
                            People who received any type of body piercing done with single use equipment are now
                            eligible to donate once the area has healed. All other types of piercings require a 12-month
                            wait before donating.
                        </p>
                    </div>
                    <div class="blood__label">
                        <h2 class="blood__h2">Travel or Former Residence</h2>
                        <p class="blood__p">
                            Those who lived in the United Kingdom for a total of 3 months or more from 1980-1996, as
                            well as long term residents in several European countries during that period, are ineligible
                            to donate blood. There are several travel locations that may cause a 1-year deferral, such
                            as parts of Mexico, China and the Philippines, as well as tropical areas where malaria is
                            endemic.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  end content -->
    <!--  start how can help -->
    <section class="help">
        <div class="container">
            <h1 class="blood help_blood">How You Can Help</h1>
            <div class="help__detail">
                <div class="help__detail-show">
                    <div class="container-img">
                        <img class="help__img" src="/images/article-1.jpg">
                    </div>
                    <div class="info-block">
                        <h3><a href="#">Blood Donor Basics</a></h3>
                        <p>Your health is important to us, and we want to help you maintain it.</p>
                    </div>
                </div>
                <div class="help__detail-show">
                    <div class="container-img">
                        <img class="help__img" src="/images/article-2.jpg">
                    </div>
                    <div class="info-block">
                        <h3><a href="#">Hosting A Blood Drive</a></h3>
                        <p>Your help as our community partner is essential to the blood supply.</p>
                    </div>
                </div>

                <div class="help__detail-show">
                    <div class="container-img">
                        <img class="help__img" src="/images/article-3.jpg">
                    </div>
                    <div class="info-block">
                        <h3><a href="#">Donation Methods</a></h3>
                        <p>Let your blood type lead the way to donate your powerful lifesaving gift.</p>
                    </div>
                </div>
                <div class="help__detail-show">
                    <div class="container-img">
                        <img class="help__img" src="/images/article-4.jpg">
                    </div>
                    <div class="info-block">
                        <h3><a href="#">Share Your Story</a></h3>
                        <p>Help your community understand the impact blood donation has.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  end how can help -->

    <%- include('../includes/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <%- include('../includes/end.ejs') %>