<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/target.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <!--  start content -->
    <section class="content">
        <div class="content__label">
            <div class="label">
                <h2 class="label__h2">Privacy Policy</h2>
            </div>
        </div>
        <div class="container">
            <!--  start about us -->
            <div class="about-us">
                <div class="about-us__info">
                    <h2 class="lead__h2">How We Use Your Data</h2>
                    <p class="about-us__p lead__p">There are eight different blood types and each one holds a unique
                        power to save lives. OneBlood’s exclusive<span class="blood"> Target Your Type® </span> program
                        shows donors how to give the most needed components of their blood by targeting how they donate.
                        Click on the blood types below and learn how to unlock the power of your blood type and save
                        more lives.</p>
                    <ul class="about-us__ul">
                        <li class="about-us__li">When do we collect information?</li>
                        <li class="about-us__li">How do we use your information?</li>
                        <li class="about-us__li">Do we use 'cookies'?</li>
                        <li class="about-us__li">Disclosure Of Your Personal Information</li>
                    </ul>
                </div>
                <div class="about-us__img-container">
                    <img src="/images/privacy2.jpg" class="about-us__img">
                </div>
            </div>
            <div class="content__blood">
                <div class="sidebar">
                    <ul class="content__ul">
                        <li class="content__li"><a class="content__a" href="#">PRIVACY POLICY</a></li>
                        <li class="content__li"><a class="content__a" href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="blood__info">
                    <p class="blood__p">
                        This privacy notice discloses BlooDrop’s privacy practices for our web site: <br>
                        OneBlood will not obtain any other personally identifying information about you when you visit
                        our site, unless you choose to provide such information to us. Any information you provide to us
                        is securely stored within the OneBlood private network. Unless you ask us not to, we may contact
                        you via email in the future to tell you about OneBlood activities, opportunities to donate blood
                        in your area or changes to this privacy policy. We will not share your information with any
                        third party outside of our organization, other than as necessary to fulfill a request you make,
                        such as scheduling an appointment to give blood. Any other dissemination of information will
                        require your prior consent.
                    </p>
                    <div class="blood__label">
                        <h2 class="blood__h2">Information Collection</h2>
                        <p class="blood__p">
                            If you read or download information, we automatically collect and store:
                        </p>
                        <ul class="about-us__ul">
                            <li class="about-us__li">the requested web page</li>
                            <li class="about-us__li">the domain from which you access the Internet </li>
                            <li class="about-us__li">the date and time you access our site</li>
                            <li class="about-us__li">status of the request (e.g. success or failure)</li>
                            <li class="about-us__li">the type and version of your web browser (Firefox, Explorer, etc.)
                            </li>
                            <li class="about-us__li">Patients Who Can Receive Your Plasma: O-, O+</li>
                            <li class="about-us__li">the operating system (Windows, Mac, Unix, etc.) of the machine
                                running the web browser
                            </li>
                        </ul>
                        <p class="blood__p">
                            OneBlood will not obtain any other personally identifying information about you when you
                            visit our site, unless you choose to provide such information to us. Any information you
                            provide to us is securely stored within the OneBlood private network. Unless you ask us not
                            to, we may contact you via email in the future to tell you about OneBlood activities,
                            opportunities to donate blood in your area or changes to this privacy policy. We will not
                            share your information with any third party outside of our organization, other than as
                            necessary to fulfill a request you make, such as scheduling an appointment to give blood.
                            Any other dissemination of information will require your prior consent.
                        </p>
                    </div>
                    <div class="blood__label">
                        <h2 class="blood__h2">Surveys & Contests</h2>
                        <p class="blood__p">
                            From time-to-time, our site requests information by survey or contest. Participation in
                            these surveys or contests is completely voluntary and you may choose whether to participate
                            and, therefore, disclose this information. Information requested may include contact
                            information (such as name and mailing address), and demographic information (such as zip
                            code, age level). Contact information will be used to notify the winners and award contest
                            prizes. Survey information will be used for purposes of monitoring or improving the use and
                            satisfaction of this site.
                        </p>
                    </div>
                    <div class="blood__label">
                        <h2 class="blood__h2">Your Access to and Control Over Information</h2>
                        <p class="blood__p">
                            You may opt out of any future contacts from us at any time. You can also do the following at
                            any time by contacting us.

                        </p>
                        <ul class="about-us__ul">
                            <li class="about-us__li">See what data we have about you, if any.</li>
                            <li class="about-us__li">Change/correct any data we have about you.</li>
                            <li class="about-us__li">Have us delete any data we have about you.</li>
                            <li class="about-us__li">Express any concern you have about our use of your data.</li>
                        </ul>
                    </div>
                    <div class="blood__label">
                        <h2 class="blood__h2">No Professional Advice</h2>
                        <p class="blood__p">
                            The content on this Web site is intended to be a general information resource in regard to
                            the subject matter covered, but is provided solely on an “as is” and “as available” basis as
                            noted on these Terms of Use. You are encouraged to confirm the information contained herein
                            with other sources, and to review the information carefully with your professional
                            healthcare provider. Any information supplied through theOneBlood Web site by any employee
                            or agent of OneBlood, whether by telephone, e-mail, letter, facsimile or other form of
                            communication, is for informational purposes or general guidance on the use of the Web site,
                            and does not constitute medical, legal, or other professional advice. Health-related
                            information provided through the Web site is not a substitute for medical advice, and it is
                            important that you not make medical decisions without first consulting your personal
                            physician or other healthcare professional. If you desire or need such services or advice,
                            you should consult a professional healthcare provider. You should not construe OneBlood’s
                            publication of this content as an endorsement by OneBlood of the views expressed herein, or
                            any warranty or guarantee of any strategy, recommendation, treatment, action, or application
                            of medication or preparation made by the author of the content.
                        </p>

                    </div>
                    <div class="blood__label">
                        <h2 class="blood__h2">Concerns? Complaints</h2>
                        <p class="blood__p">
                            If you believe your privacy has been violated, you may file a complaint with OneBlood on our
                            confidential compliance and privacy hotline at 1-407-226-3888. You will not be penalized or
                            retaliated against in any way for making a complaint to OneBlood.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--  end content -->
    <!--  start how can help -->
    <section class="help">
        <div class="container">
            <h1 class="blood help_blood">How You Can Help</h1>
            <div class="help__detail">
                <div class="help__detail-show">
                    <div class="container-img">
                        <img class="help__img" src="/images/article-1.jpg">
                    </div>
                    <div class="info-block">
                        <h3><a href="#">Blood Donor Basics</a></h3>
                        <p>Your health is important to us, and we want to help you maintain it.</p>
                    </div>
                </div>
                <div class="help__detail-show">
                    <div class="container-img">
                        <img class="help__img" src="/images/article-2.jpg">
                    </div>
                    <div class="info-block">
                        <h3><a href="#">Hosting A Blood Drive</a></h3>
                        <p>Your help as our community partner is essential to the blood supply.</p>
                    </div>
                </div>

                <div class="help__detail-show">
                    <div class="container-img">
                        <img class="help__img" src="/images/article-3.jpg">
                    </div>
                    <div class="info-block">
                        <h3><a href="#">Donation Methods</a></h3>
                        <p>Let your blood type lead the way to donate your powerful lifesaving gift.</p>
                    </div>
                </div>
                <div class="help__detail-show">
                    <div class="container-img">
                        <img class="help__img" src="/images/article-4.jpg">
                    </div>
                    <div class="info-block">
                        <h3><a href="#">Share Your Story</a></h3>
                        <p>Help your community understand the impact blood donation has.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  end how can help -->

    <%- include('../includes/footer.ejs')%>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <%- include('../includes/end.ejs')%>