<%- include('../includes/head.ejs')%>
  </head>
  <body>

    <%-include('../includes/userNavigation.ejs')%>
    </nav>
    <main>
      <div class="main__info">
        <p>
       <span class="span-header">Welcome Donor, </span>Thank you for your cooperation and assistance to others, we wish you good health❤️.
        </p>
        <p class="warning"> <i class="fas fa-exclamation-circle "></i>
           Critical dates: Some dates throughout the year are more
            difficult due to seasonal holidays and influences.
          If you are available to donate during these critical periods. </p>
          <table class="table-dates">
            <thead>
                <tr>
                    <th colspan="2">Critical dates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> April 8 - April 14</td>
                    <td>May 19 - May 27</td>
                </tr>
                <tr>
                    <td>June 29 - July 10 </td>
                    <td>September 1 - September 9</td>
                </tr>
                <tr>
                    <td>November 23 - November 29</td>
                    <td>December 20 - January 6</td>
                </tr>
            </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
