<%- include('../includes/top.ejs') %>

</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="myContainer">

        <h1>WELCOME OUR ADMIN LET'S START TO ADD SOME DETAILS</h1>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />


    </main>

    <%- include('../includes/bottom.ejs') %>