* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #4E4E4E;
}
.container {
    padding:2em; 
}
.blood{
   color:#EF3D32; 
}
.lead__p{
    font: 16px/28px 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin: 0 0 12px;
    padding: 0; 
    margin-top:1em; 
}
.lead__h2{
  font-family:'Montserrat', sans-serif; 
    font-size:3em;
    font-weight: bolder;
    position: relative; 
    line-height:60px; 
    color:#555; 
}
.lead__h2:after{
  content: "";
  position: absolute;
  left:0;
  bottom: 0;
  width:100px;
  background-color:#EF3D32;
  height:2px;     
}
.btn_place{
   border: 0px;
    background: #EF3D32;
    color: #FFFFFF;
    display: inline-block;
    line-height: 32px;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 36px;
    position: relative;
    text-transform: uppercase;
    transition: 'all' '0.5s' ease-out;
    margin-bottom: 0;
    letter-spacing: 0em;
    overflow: hidden;
    border-radius: 0px;
    background-clip: padding-box;
}
/* start body */
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;   
}
  /* start head info*/
.info-head{
   background-color:#EF3D32; 
   width:100%;
   padding:1em 4em 0.8em 4em;
   color:#fff;  
   display:grid;
   grid-template-columns:1fr 1fr;
   grid-gap:15px;  
   height:auto;   
}
.info-head__social{
    width:100%;
}
.info-head__contact{
    width:100%;

}
.info-head__social i{
    background:#fff;
    padding:8px 9px;
    float: right;
    margin-right:0.5em;
    margin-left:0.5em;
    font-size:15px; 
    border-radius:100%;    
}
/* start header */
.header-fixed {
  background-color:#fff;
  box-shadow:0 1px 1px #ccc;
  padding: 20px 40px;
  height: 90px;
  color: #ffffff;
  box-sizing: border-box;
  top:-100px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition:top 0.3s;
  transition:top 0.3s;
  z-index: 9999;

}

.header-fixed .header-limiter {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}



.header-fixed-placeholder{
  height: 80px;
  display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.header-fixed .header-limiter h1 span {
  color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
  color: #ffffff;
  text-decoration: none;
}

.header-fixed .header-limiter nav {
  font:16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.header-fixed .header-limiter nav a{
  display: inline-block;
  padding: 0 5px;
  text-decoration:none;
  color: #000;
  opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
  opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
  color: #e74c3c;
  pointer-events: none;
  opacity: 1;
}

/* Fixed version of the header */

.fixed .header-fixed {
  padding: 10px 40px;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  
}

.fixed .header-fixed-placeholder {
  display: block;
}

.fixed .header-fixed .header-limiter h1 {
  font-size: 24px;
  line-height: 30px;
}

.fixed .header-fixed .header-limiter nav {
  line-height: 28px;
  font-size: 13px;
}
/* end header*/

/* start table */
table {
  border: 1px solid #f3f3f3;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 90%;
  table-layout: fixed;
  height:100%;
 margin:auto; 
 margin-top: 2em;

}

table caption {
  font-size: 2em;
  color:#EF3D32; 
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #f3f3f3;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  border:1px solid #f3f3f3; 
}


table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding:1em 1.5em; 
  color:#f00; 
}




/* start footer */
.footer{
  width:100%;
  height:auto;
  background-color:#1A1A1A;
  padding:3em;
  font-family: Roboto, sans-serif;
  margin-top:3em; 
  position: relative;
}

.footer__container{
  width:100%; 
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:15px; 

}
.footer__ul .footer__li{
  list-style:none;
  font-size:1em;
  font-family: Roboto, sans-serif;
  line-height:30px;
  color: #fff;
}
 .footer__p{
  font-size:0.82em;
}
.footer__ul_align_center{
   
   margin-bottom:0.4em; 
}

.footer__a{
  color: #fff;
  transition:0.4s all; 
}


.footer__form-control {
    height: 40px;
    border: none;
    width: 67% ;
    font-weight: 400;
    background: #fff;
    padding-left: 20px;
    border-radius: 0;
    font-size: 13px;
    padding: 10px 20px;
    color: #999999;
    border: 0px solid transparent;
  font-family: Roboto, sans-serif;

    outline: none;
}
.footer__h3 {
  color:#fff;
  font-weight: bolder;
  text-transform: uppercase; 
  padding-bottom:0.9em; 
}

.footer .footer__btn {
    margin-top: 23px;
    background-color: #ff1481;
    color: #fff;
    width: 49px;
    border-radius: 0px;
    height: 40px;
    outline: none;
    border: 0;
}
.footer__top{
   width: 100%;
   border-bottom:1px solid #2C2C2C;
   margin:auto; 
   padding:2em; 
   margin-bottom:2em; 
  display: flex;
  justify-content: space-around;
}
.lead-logo{
    width:30%; 
    font-size:2em;
    color:#fff;
    padding-top:0.2em;   
}
.lead-p{
  width: 70%;

}
.footer__top-p{
  line-height:30px;
  font-size:1.1em;
  color:#fff;  
  }
.info-paragraph{
   margin-left:1em; 
}
.copyright-text{
  position: absolute;
  top:100%; 
   width:100%;
   text-align: center;
   background: #1A1A1A; 
   border-top:1px solid #2C2C2C;
   padding-top:2em;
   padding-bottom:2em;  
   color:#fff;
   left:0;  
}
/* End footer */
/* start animation */
.footer__a:hover{
   text-decoration: line-through;
   text-decoration-color:#f00; 
}

/*start media */
@media (max-width: 768px) {
/* start heder */
.info-head{
   height:110px;
   text-align: center; 
   display: block;
   padding: 0.5em 0 ;

}
.info-head span {
    
    display: block;
    margin-top:5px; 
}

.info-head__social i{
   float: none;
   margin-top:0.5em; 
} 
f3f3f3
/* start footer */
.footer__container{
 display: block;
 padding-left:1.5em;
}
.footer__ul{
   width:100%; 
   margin-bottom:2em; 
}
.footer__p{
 width: 70%;
}
.footer .last{
  width:100%; 
}
}
/* Making the header responsive */

@media all and (max-width: 599px) {
  /* start header */
  .header-fixed {
    padding: 20px 0;
    height: 75px;
  }

  .header-fixed .header-limiter h1 {
    float: none;
    margin: -8px 0 10px;
    text-align: center;
    font-size: 24px;
    line-height: 1;
  }

  .header-fixed .header-limiter nav {
    line-height: 1;
    float:none;
  }

  .header-fixed .header-limiter nav a {
    font-size: 13px;
  }

  body.fixed .header-fixed {
    display: none;
  }
 /* start tabel*/
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}



@media (max-width: 767px) {
   .conatiner{
      padding:0.5em; 
   }
 
  .footer__top{
     display:block;
     padding:1em; 
     padding-left:0; 
  }
  .lead-logo{
     width: 100%;
  }
  .lead-p{
     width:100%; 
  }
  .footer{
    padding:1em; 
  }
  .footer__container {
     padding: 0;
  }
}
@media (min-width: 1100px){
   .footer__ul{
     padding-left:0.5em; 
   }

}