

/* start table */
table {
  border: 1px solid #f3f3f3;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 90%;
  table-layout: fixed;
  height:100%;
 margin:auto; 
 margin-top: 2em;

}

table caption {
  font-size: 2em;
  color:#EF3D32; 
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #f3f3f3;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  border:1px solid #f3f3f3; 
}


table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding:1em 1.5em; 
  color:#f00; 
}






/* Making the header responsive */

@media all and (max-width: 599px) {

 /* start tabel*/
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}




