  	*{
  		padding:0;
  		margin: 0;
  		box-sizing: border-box; 
  	}
  	li{
  		list-style: none;
  	}
  	a{
  		 text-decoration: none;
  	}
  	body{
  		 width:100%;
  		 height: 100%; 
  		 overflow-x:hidden; 
       position: relative;
  		 font-family: 'Roboto Mono', monospace;
  	}
  	.header{
  		 width:100%; 
  		 height:100vh;
      position: relative;  
  	}
  	.header__nav{
  		position: relative;
  		width:100%;
  		height:15vh;
  		padding-bottom:1em; 
  		}
    .header:after{
      content: "";
      position: absolute;
      background:url("./images/bg1.png") no-repeat; 
      top:0%;
      right:0%;
      width:50%;
      height:100%; 
      z-index:-1;   
    }

  	.header__a_logo{
  		 position: absolute;
  		 max-width: 100%;
  		 max-height:100%; 
  		 left:3%; 
  	}
     .header__ul{
     	 position: absolute;
     	 right:5%; 
     	 display:inline-flex;
     	 top:40%; 
     	 justify-content: space-between; 
     }
     .header__li{
     	padding-left:1em; 
     }
     .header__a{
     	 color:#fff;
     	 font-size:1.3em;  
     }
     .header__li:last-child .header__a{
     	color:#FE712A; 
     	 background:#fff;
     	 padding:0.2em 0.4em;
     	 border-radius:10px; 
     	 box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
     }
      .header__land{
      	 width:100%;
      	 height:calc(100% - 15vh);  
      	 position: relative;
      	 display: grid;
      	 grid-template-columns:repeat(2,1fr);
      	 grid-gap:10px;  
      }
      .header__coatiner{
      	 position: absolute;
      	 top:35%; 
      	 width:50%;  
      	 left:3%; 
      }
      .header__h2{
      	 font-size:2em;
      	 color:#FE712A;  
      	 font-weight: bolder;

      }
      .header__p{
         padding:1em 0 2em 0;
      	 font-size:1.2em; 
      }
      .header__a_background{
      	 color:#fff;
      	 background:#00b894;
      	 padding:0.5em 1.2em;
      	 font-weight:bolder;  

      }
      .header__icon{
      	 position: absolute;
      	 right:20%;
      	 top:10%;  
    
      }

      .about-us{
         position: relative;
         text-align: center;
         width:100%;  
         height:100vh; 

      }
      .about-us__conetnt{
                display: inline-flex;
         flex-direction:row;   
         justify-content: center;        
      }
      .about-us__div{
         background:#fff;
        width:50%; 
     box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
     border-radius:20px; 
     padding:2em 3em;
     height:auto;  
      }
      .about-us__h3{
         font-size:2em; 
         color:#777; 
      }
      .about-us__p{
         margin-top:1em;
         line-height:1.5em;  
         margin-bottom:2em;
      }
.about-us__a{
    color:#fff;
         background:#00b894;
         padding:0.5em 1.2em;
         font-weight:bolder;  
}
.about-us:before{
   content:"";
   position: absolute;
   left:0%;
   top:0%; 
   height:100%;
   width:100%;
   z-index:-1; 
   background: url("./images/bg2.png") no-repeat;    
}
.free-blood{
   position: relative;
   width:100%;
    height:50vh; 
   display: grid;
   grid-template-columns:repeat(2,1fr);
   grid-gap:10px;   
   margin-top:3em;
   margin-bottom:3em; 
}
.free-blood__info{
   position: absolute;
   width:50%;
   left:3%;
   top:40%;    
}
.free-blood__h3{
   font-size:1.5em; 
}
.free-blood__p{
   margin-top:1em; 
   margin-bottom:1.5em; 
   font-size:1.3em; 
}
.free-blood__a{
 background-color:#FE712A;
    color:#fff;
         padding:0.5em 1.2em;
         font-weight:bolder; 
         margin-bottom: 2em;
}
.free-blood__div{
    position: absolute;
   width:50%;
   right:0;    
}
.free-blood__img{
    position: absolute;
    right:0;  
    width:50%;  
}





footer{
  position:absolute;
  width:100%;
  height:auto;
  top:100%;
  background:#111;
  display:grid;
  grid-template-columns:1.4fr 1fr 1fr 1fr 2fr;
  padding:3em;
  grid-gap:20px; 
  margin-top:3em; 
}
footer ul li{
  list-style:none;
  color:#fff;
  font-size:1em;
  font-family:sans;
  cursor:pointer;
  line-height:30px;
  transition:0.5s;
}
footer ul li p{
  font-size:0.82em;
}
footer ul li a{
  color: #48A9A6;
}
footer ul li:hover{
  color:#f00;
}

