/* start content*/
 .content{
   width:100%;
 }
 .content__label{
   position: relative;
    width: 100%;
    height:250px; 
   background:url("./images/header-bg.jpg") no-repeat; 
   background-attachment: scroll;
   text-align: center;
   color: #000;
   padding:2em;
   display: inline-flex;
   flex-direction: column;
   justify-content: center;  
 }
  .content__label:before{
    content: "";
   position: absolute;
   left:0;
   top:0;
   background-color:rgba(0,0,0,0.4);
   height:100%;
   width:100%;     
   }
  .label__h2{
     font-size:3em; 
     font-weight:bolder; 
     color: #f00;
  }
  /* start about us */
.about-us{
    width:100%;
    padding:2em;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    position: relative;
} 
.about-us__info{
   background-color:#F9FAFB;
   padding:2em; 
   width:100%;  
    transition:0.4s all; 
    margin-top:2em;
    margin-left:2em;  
    z-index:2; 
}
.about-us__img-container{
    width:100%;
    height:100%;  
}
.about-us__img{
   width:90%;
   height: 90%; 
}

.about-us__p{
    color: #333333;
}

.about-us__ul{
     margin-top:1em; 
}
.about-us__li{
      padding-left: 26px;
    line-height: 36px;
    position: relative;
}
.about-us__li:before{
  content: '';
    display: inline-block;
    width: 8px;
    background: transparent;
    border: 1px solid #EF3D32;
    margin: 0 11px 0 0;
    height: 8px;
    position: absolute;
    top: 15px;
    left: 6px;
    border-radius: 100%;
    background-clip: padding-box;
}
.content__blood{
   width:100%;
   display:inline-flex;
   justify-content: space-around;
   margin-top:2em; 
}
.blood__info{ 
   width:60%;
}
.sidebar{
   width:40%; 
   display: inline-flex;
   justify-content: center;
}
.content__ul{
   width:50%; 
}
.content__li{
  border-bottom:1px solid #f1f1f1; 
  padding:1em 2em; 
}
.content__li:nth-child(1){
    color:#fff; 
    background-color:#AB182C;    
}
.content__li:nth-child(1) .content__a{
   color:#fff;
   font-size:1.5em;  
}
.content__a{
  font-size:1.3em; 
}

.blood__label{
   margin-top:1em;
   margin-bottom:1em;   
}
.blood__h2{
   color:#AB182C; 
 }
.blood__p{
   width:100%;
   font-size:1.3em;  
   line-height:30px; 
   margin-top:0.5em; 
}
/*start help */
.help{
   width:100%; 
}
.help__detail{
  width:100%; 
   display: grid;
   grid-template-columns:repeat(4,1fr);
   grid-gap:10px; 
   margin-top:2em;  
}
.help_blood{
   width:100%;
   text-align: center;
   font-size:2.3em;  
}
.help__detail-show{
   margin-bottom:1em; 
}
.container-img{
   width:100%;
   border:1px solid #000;  
}
.help__img{
   max-width:100%;
   max-height:100%;  
}
.info-block{
   margin-top:1em; 
   color:#555; 
   transition:all 0.4s; 
}
.info-block h3{
  font-size:1.5em; 
  margin-bottom:0.5em; 
}
.info-block p{
   line-height:25px;
   font-size:1.2em;  
}

/* start footer */
.footer{
  width:100%;
  height:auto;
  background-color:#1A1A1A;
  padding:3em;
  font-family: Roboto, sans-serif;
  margin-top:3em; 
  position: relative;
}

.footer__container{
  width:100%; 
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:15px; 

}
.footer__ul .footer__li{
  list-style:none;
  font-size:1em;
  font-family: Roboto, sans-serif;
  line-height:30px;
  color: #fff;
}
 .footer__p{
  font-size:0.82em;
}
.footer__ul_align_center{
   
   margin-bottom:0.4em; 
}

.footer__a{
  color: #fff;
  transition:0.4s all; 
}


.footer__form-control {
    height: 40px;
    border: none;
    width: 67% ;
    font-weight: 400;
    background: #fff;
    padding-left: 20px;
    border-radius: 0;
    font-size: 13px;
    padding: 10px 20px;
    color: #999999;
    border: 0px solid transparent;
  font-family: Roboto, sans-serif;

    outline: none;
}
.footer__h3 {
  color:#fff;
  font-weight: bolder;
  text-transform: uppercase; 
  padding-bottom:0.9em; 
}

.footer .footer__btn {
    margin-top: 23px;
    background-color: #ff1481;
    color: #fff;
    width: 49px;
    border-radius: 0px;
    height: 40px;
    outline: none;
    border: 0;
}
.footer__top{
   width: 100%;
   border-bottom:1px solid #2C2C2C;
   margin:auto; 
   padding:2em; 
   margin-bottom:2em; 
  display: flex;
  justify-content: space-around;
}
.lead-logo{
    width:30%; 
    font-size:2em;
    color:#fff;
    padding-top:0.2em;   
}
.lead-p{
  width: 70%;

}
.footer__top-p{
  line-height:30px;
  font-size:1.1em;
  color:#fff;  
  }
.info-paragraph{
   margin-left:1em; 
}
.copyright-text{
  position: absolute;
  top:100%; 
   width:100%;
   text-align: center;
   background: #1A1A1A; 
   border-top:1px solid #2C2C2C;
   padding-top:2em;
   padding-bottom:2em;  
   color:#fff;
   left:0;  
}
/* End footer */
/* start animation*/
.about-us__info:hover{
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
}
.footer__a:hover{
   text-decoration: line-through;
      text-decoration-color:#f00; 

}
.info-block:hover{
  color:#AB182C; 
}
.info-block:hover a{
  color:#AB182C; 

}

/* start media */
@media (max-width: 768px) {
/* start heder */
.info-head{
   height:110px;
   text-align: center; 
   display: block;
   padding: 0.5em 0 ;

}
.info-head span {
    
    display: block;
    margin-top:5px; 
}

.info-head__social i{
   float: none;
   margin-top:0.5em; 
} 
/* start about us*/
.about-us{
  display: block; 
  padding:1em; 
} 
.about-us__info{
    margin:0;
    padding:1em; 
    margin-bottom:1em;  
}
/* start content__blood*/
 .content__blood{
   display:block; 
 }
 .sidebar{
   width:100%; 
 }
 .content__ul{
   width:100%; 
 }
 .blood__info{
   width:100%; 
 }
/* start footer */
.footer__container{
 display: block;
 padding-left:1.5em;
}
.footer__ul{
   width:100%; 
   margin-bottom:2em; 
}
.footer__p{
 width: 70%;
}
.footer .last{
  width:100%; 
}
}
/* Making the header responsive */

@media all and (max-width: 599px) {

 /* start help*/
 .help__detail{
   display:block; 
 }


}

@media screen and (min-width: 600px) and (max-width: 1000px) {

  .campaigns__container_theme_grid{
    display:block;  
  }
 .about-us{
   display: block;
 }
 .about-us__info{
   margin:0;
   margin-bottom:1em;  
 }
 .statistics__container{
   grid-template-columns:repeat(2,1fr); 
 }
 .container__service {
    grid-template-columns:repeat(2,1fr);  
 }
 .container {
   padding:1.8em; 
 }
 .about-us__img{
    width:95%; 
 }
  .help__detail{
   grid-template-columns:repeat(2,1fr);  
 }
}

@media (max-width: 767px) {
   .conatiner{
      padding:0.5em; 
   }
  .bus__container_theme_grid{
     display: block;
  }
  .bus__info{
     padding:0; 
  }
  .about-us__img {
     max-width:100%;
     max-height:100%;  
  }

}
@media (min-width: 1100px){
  
   .campaigns__container_theme_grid{
    margin-top:2em; 
    margin-bottom:2em; 
   }
}