
<%- include('../includes/navigation.ejs') %>
<section class="main">
<div class="main-content tabcontent" id="patient">
  
    <div class="new-items ">
      <div class="new-items_conatiner">
        <h2>new blood bags</h2>
        <p class="red">bags info</p>
      <form action="/add-bag" method="POST" class="new-items_form">	 
         <label class="new-items_label" for="type">blood type</label>
         <select class="new-items_select type">
           <option value="a+">a+</option>
           <option value="a-">a-</option>
           <option value="o+">o+</option>
           <option value="o-">o-</option>
           <option value="b+">b+</option>
           <option value="b-">b-</option>

           <option value="ab+">ab+</option>
           <option value="ab-">ab-</option>
         </select>
         <label class="new-items_label" for="charity">Charity Name</label>
         <input class="new-items_input" type="text" name="charity">
         <label class="new-items_label" for="donarName">Donar Name</label>
         <input class="new-items_input" type="text" name="donarName">
         <label class="new-items_label" for="quantity">blood quantity</label>
         <input class="new-items_input" type="number" name="quantity">
    
         <input type="hidden" name="_csrf" value="<%= csrfToken %>" /> 
         <button class="add-new add-new_float addnew" type="submit">Submit</button>
      </form>	 
      <button >create</button>
      </div>
    </div>
    
    
      
    </div>
    

 
</section>

  <%- include('../includes/bottom.ejs') %>